{
	"listen"	:"14445",
	"serverUrl"	:"http://domob-206.domob-inc.cn:14445",
	"filePath"	:"/home/liuwenbo/git/dpr_files",
	"tmpPath"	:"/home/liuwenbo/tmp/combo",
	"comboPathName"	:"/asset/combo",
	"componentPathName"	:"/asset/component",
	"strRegVersion": "\\?(\\d+),?",
	"compile"	:false,
	"log"		:true,
	"MIME" : {
		"jpg":	"image/jpeg",
		"gif":	"image/gif",
		"png":	"image/png",
		"ico":	"image/x-icon",
		"icon":	"image/x-icon",
		"icns":	"image/x-icns",
		"css":	"text/css",
		"js":	"text/javascript",
		"html":	"text/html",
		"htm":	"text/html",
		"txt":	"text/plain",
		"map":	"application/json"
	},
	"clinetZipExt" : {
		"css":	true,
		"js":	true,
		"html":	true,
		"htm":	true,
		"txt":	true
	}
}