{
	"keepInMem"	:false,
	"listen"	:"80",
	"filePath"	:"/root/resources",
	"tmpPath"	:"/root/tmp/combo",
	"comboPathName"	:"/combo/",
	"strRegVersion": "\\?(\\d+),",
	"compile"	:true,
	"log"		:true,
	"logFile"	:"/root/logs/asseter_access.log",
	"MIME" : {
		"jpg":	"image/jpeg",
		"gif":	"image/gif",
		"png":	"image/png",
		"ico":	"image/x-icon",
		"icon":	"image/x-icon",
		"icns":	"image/x-icns",
		"css":	"text/css",
		"js":	"text/javascript",
		"html":	"text/html",
		"htm":	"text/html",
		"txt":	"text/plain"
	},
	"clinetZipExt" : {
		"css":	true,
		"js":	true,
		"html":	true,
		"htm":	true,
		"txt":	true
	}
}
