{
	"listen":	"4444",
	"serverUrl":"http://domob-206.domob-inc.cn:4444",
	"filePath":	"/home/web/work/dpr_files",
	"tmpPath":	"/home/web/work/dpr_tmp",
	"comboPathName":"/asset/combo",
	"componentPathName":"/asset/component",
	"strRegVersion":"\\?(\\d+),?",
	"compile":	false,
	"log":true,
	"logPath": "/logs/dpr.log",
	"logCutInterval": 300000,
	"cacheLimit":300,
	"processerLimit":4,
	"MIME" : {
		"jpg":	"image/jpeg",
		"gif":	"image/gif",
		"png":	"image/png",
		"ico":	"image/x-icon",
		"icon":	"image/x-icon",
		"icns":	"image/x-icns",
		"css":	"text/css",
		"js":	"text/javascript",
		"html":	"text/html",
		"htm":	"text/html",
		"txt":	"text/plain",
		"map":	"application/json",
		"mobileconfig":	"application/mobileconfig"
	},
	"clinetZipExt" : {
		"css":	true,
		"js":	true,
		"html":	true,
		"htm":	true,
		"txt":	true
	}
}